/**
 * todo
 *
 *    Stylesheet for the todo app.
 *    Makes it pretty✨
 *
 * Author: Rohit Mehta
 **/

/* @import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    background: #fafafa;
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #a3a7f8;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.75rem;
}

.list-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 0 1 auto;
}

.list-buttons button {
    height: 4em;
    font-size: small;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.form-body > * {
    margin: 0.5em 0;
}

section.form-footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

section.form-footer button {
    width: 5em;
}

section.form-footer button:active {
    background: #470505;
}

form.list-selection {
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.65rem;
}

form.list-selection > select {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #eaeaea;
    border-radius: 0.2rem;
    font-size: 0.85rem;
    font-family: "Gotu", "Roboto", sans-serif;
}

input[type="text"] {
    height: 2rem;
    width: 100%;
}

textarea {
    width: 100%;
}

output.current-list {
    display: inline-block;
    width: 100%;
    margin: 1em auto;
    padding: 0.25em;
    font-size: 1.25rem;
    font-weight: bold;
    background: #a3a7f8;
    text-align: center;
}

ul.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: #fafafa;
}

li.task-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

/* Here comes the task styles */
.task {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    user-select: none;
    border: 1px solid #eaeaea;
    width: 100%;
    border-radius: 25px;
    padding: 0.5rem;
}

.task > .title {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.task > .description {
    font-size: 0.85rem;
}

/* stling for a completed task */
.complete {
    filter: grayscale(100%) opacity(0.5);
}

.task .edit {
    align-self: flex-end;
    font-size: small;
}

/* Modal boxes that house the forms */
.modal-wrapper {
    /* display: none; do not need as modals will use .hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #6c6fad9a;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.modal-box {
    width: 90%;
    max-width: 400px;
    background: #fff;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
}

svg{
    vertical-align: middle;
}

button {
    margin: 10px;
    padding: auto;
    height: 2em;
    border-radius: 17px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.2em;
    box-shadow: none;
    border-style: solid;
    background-color: #4338ca33;
    color: #4338ca;
    border: solid 1px #4338ca33;
    letter-spacing: 0.3px;
}

@media (max-width: 768px) {
    .list-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .list-buttons button {
        width: 100%;
        height: fit-content;
    }
}